@using Clinic.Core.Consts
@using WarehouseBLL.FormViewModels
@model CategoryFormViewModel

<form asp-action="@(Model?.Id > 0 ? "Edit" : "Create")"
      data-ajax-method="post"
      data-ajax="true"
      data-ajax-begin="onModalBegin"
      data-ajax-success="onModalSuccess"
      data-ajax-failure="showErrorMessage"
      data-ajax-complete="onModalComplete">
    @if (Model?.Id > 0)
    {
        <input type="hidden" asp-for="Id" />
    }
    <div class="mb-5">
        <label asp-for="Name"></label>
        <input type="text" class="form-control" placeholder="@_localization[DisplayNames.Name]" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger d-block"></span>
    </div>

    <partial name="_PopUpModelFooter" />
</form>