@using WarehouseBLL.FormViewModels.Customer

@model CustomerFormViewModel

<form asp-action="@(Model?.Id > 0 ? "Edit" : "Create")"
      asp-controller="Customers"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-begin="onModalBegin"
      data-ajax-success="onModalSuccess"
      data-ajax-failure="showErrorMessage"
      data-ajax-complete="onModalComplete">

    @Html.AntiForgeryToken()

    @if (Model?.Id > 0)
    {
        <input type="hidden" asp-for="Id" />
    }

    <div class="row g-3">

        <div class="col-12">
            <label asp-for="Name" class="form-label fw-bold"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="col-12">
            <label asp-for="PhoneNumber" class="form-label fw-bold"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="col-12">
            <label asp-for="Address" class="form-label fw-bold"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="col-12">
            <label asp-for="CustomerType" class="form-label fw-bold"></label>
            <select asp-for="CustomerType"
                    asp-items="Model.CustomerTypes"
                    class="form-select">
            </select>
            <span asp-validation-for="CustomerType" class="text-danger"></span>
        </div>

        @if (Model?.Id == null || Model.Id == 0)
        {
            <div class="col-md-6">
                <label asp-for="OpeningBalance"></label>
                <input asp-for="OpeningBalance" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="OpeningBalance" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <label asp-for="OpeningBalanceType"></label>
                <select asp-for="OpeningBalanceType"
                        asp-items="Model.BalanceTypes"
                        class="form-select">
                </select>
                <span asp-validation-for="OpeningBalanceType" class="text-danger"></span>
            </div>
        }
        else
        {
            <input type="hidden" asp-for="OpeningBalance" />
            <input type="hidden" asp-for="OpeningBalanceType" />
        }

    </div>

    <partial name="_PopUpModelFooter" />

</form>