@{
	var userName = User.Identity.IsAuthenticated ? User.Identity.Name : "Guest";
	var userRoles = User.Identity.IsAuthenticated
		? string.Join(", ", User.Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Role).Select(c => c.Value))
		: "No roles";
}

<nav class="layout-navbar container-xxl navbar-detached navbar navbar-expand-xl align-items-center bg-navbar-theme"
	 id="layout-navbar">
	<div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0 d-xl-none">
		<a class="nav-item nav-link px-0 me-xl-6" href="javascript:void(0)">
			<i class="icon-base bx bx-menu icon-md"></i>
		</a>
	</div>

	<div class="navbar-nav-right d-flex align-items-center justify-content-end" id="navbar-collapse">
		<ul class="navbar-nav flex-row align-items-center ms-md-auto">
			<!-- Language -->
			<li class="nav-item dropdown-language dropdown pe-2 me-2 me-xl-0">
				<a class="nav-link dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
					<i class="icon-base bx bx-globe icon-md"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-end language">
					<li>
						<a class="dropdown-item language-dropdown" data-language="en" data-text-direction="ltr">
							<span>English</span>
						</a>
					</li>
					<li>
						<a class="dropdown-item language-dropdown" data-language="ar" data-text-direction="rtl">
							<span>العربيه</span>
						</a>
					</li>
				</ul>
			</li>
			<!--/ Language -->
			<!-- Style Switcher -->
			<li class="nav-item dropdown pe-2 me-2 me-xl-0">
				<a class="nav-link dropdown-toggle hide-arrow"
				   id="nav-theme"
				   href="javascript:void(0);"
				   data-bs-toggle="dropdown">
					<i class="icon-base bx bx-sun icon-md theme-icon-active"></i>
					<span class="d-none ms-2" id="nav-theme-text" data-i18n="theme"></span>
				</a>
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="nav-theme-text">
					<li>
						<button type="button"
								class="dropdown-item align-items-center active"
								data-bs-theme-value="light"
								aria-pressed="false">
							<span><i class="icon-base bx bx-sun icon-md me-3" data-icon="sun"></i>Light</span>
						</button>
					</li>
					<li>
						<button type="button"
								class="dropdown-item align-items-center"
								data-bs-theme-value="dark"
								aria-pressed="true">
							<span><i class="icon-base bx bx-moon icon-md me-3" data-icon="moon"></i>Dark</span>
						</button>
					</li>
					<li>
						<button type="button"
								class="dropdown-item align-items-center"
								data-bs-theme-value="system"
								aria-pressed="false">
							<span><i class="icon-base bx bx-desktop icon-md me-3" data-icon="desktop"></i>System</span>
						</button>
					</li>
				</ul>
			</li>
			<!-- / Style Switcher-->
			<!-- User -->
			<li class="nav-item navbar-dropdown pe-2 dropdown-user dropdown">
				<a class="nav-link dropdown-toggle hide-arrow p-0"
				   href="javascript:void(0);"
				   data-bs-toggle="dropdown">
					<div class="avatar avatar-online">
						<img src="/assets/img/avatars/1.png" alt class="rounded-circle" />
					</div>
				</a>
				<ul class="dropdown-menu dropdown-menu-end">
					<li>
						<a class="dropdown-item" href="/">
							<div class="d-flex">
								<div class="flex-shrink-0 me-3">
									<div class="avatar avatar-online">
										<img src="/assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
									</div>
								</div>
								<div class="flex-grow-1">
									<h6 class="mb-0">@userName</h6>
									<small class="text-body-secondary">@userRoles</small>
								</div>
							</div>
						</a>
					</li>
					@* 					<li>
						<div class="dropdown-divider my-1"></div>
					</li> *@
					@* <li>
						<a class="dropdown-item" href="pages-profile-user.html">
							<i class="icon-base bx bx-user icon-md me-3"></i><span data-i18n="Profile"></span>
						</a>
					</li> *@
					<li>
						<div class="dropdown-divider my-1"></div>
					</li>
					@if (!User.Identity.IsAuthenticated)
					{
						<li>
							<a class="dropdown-item" asp-controller="Authentication" asp-action="SignIn">
								<i class="icon-base bx bx-power-off icon-md me-3"></i><span data-i18n="Login"></span>
							</a>
						</li>
					}
					else
					{
						<li>
							<form method="post" asp-controller="Authentication" asp-action="Logout">
								<button class="dropdown-item" type="submit" data-i18n="LogOut">
								</button>
							</form>
						</li>
					}
				</ul>
			</li>
			<!--/ User -->
		</ul>
	</div>
</nav>
<script>

	// 	function setLanguageCookies(languageElement) {
	// 		  const language = languageElement.getAttribute('data-language');
	// 		  const direction = languageElement.getAttribute('data-text-direction');
	// 		  const cultureValue = `c=${language}|uic=${language}`;
	// 		  const expires = new Date();
	// 		  expires.setFullYear(expires.getFullYear() + 1);
	// 		  const expiresString = expires.toUTCString();

	// 		  document.cookie = `.AspNetCore.Culture=${encodeURIComponent(cultureValue)}; path=/; expires=${expiresString}`;
	// 		  document.cookie = `direction=${direction}; path=/; expires=${expiresString}`;

	// }

	// Attach event listeners
	// document.querySelectorAll('.language-dropdown').forEach(item => {
	//   item.addEventListener('click', () => {
	// 	setLanguageCookies(item);
	//   });
	// });


</script>

