@{
    ViewData["Title"] = "Access Denied";
    Layout = "_Authentication";
}

<!-- Access Denied -->
<div class="container-xxl container-p-y d-flex col-12 justify-content-center text-center mt-12">
    <div class="misc-wrapper">
        <h3 class="mb-2 mx-2">Access Denied! 🔒</h3>
        <p class="mb-6 mx-2">Sorry, you do not have permission to access this page.</p>
        <a href="/" class="btn btn-primary">Back to home</a>
        <div class="mt-6">
            <img src="/assets/img/illustrations/girl-doing-yoga-light.png"
                 alt="access-denied"
                 width="500"
                 class="img-fluid"
                 data-app-light-img="illustrations/girl-doing-yoga-light.png"
                 data-app-dark-img="illustrations/girl-doing-yoga-dark.png" />
        </div>
    </div>
</div>
<!-- /Access Denied -->
